@import "../../variables";

.About {
  height: 90vh;
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .left-side,
  .right-side {
    width: 50%;
    padding: 1rem;
  }

  .left-side {
    width: 40%;
    height: 100%;
    h2 {
      border-bottom: 1px solid $dark-color;
      margin: 1rem 0;
    }
    .fab {
      margin: 1rem 0.5rem;
    }
    .fa-instagram {
      color: #dd2a7b;
    }
    .fa-youtube {
      color: #fa423b;
    }
  }

  .right-side {
    width: 50%;
    height: 100%;
    margin: auto;
    .logo-img {
      max-width: 400px;
      margin: auto;
      z-index: -3;
      border-radius: 5px;
    }
  }
}

@import "../../mobile";
