@import '../../variables';

.Landing {
  height: 100vh;
  color: $light-color;
  .cursor {
      width: 3rem;
      height: 3rem;
      border: 2px solid red;
      border-radius: 50%;
      position: absolute;
      z-index: 2;
      transform: translate(-50%, -50%);
      pointer-events: none;
      transition: all 0.3s ease;
      transition-property: background, transform;
      transform-origin: 100% 100%;
      backdrop-filter: grayscale(50%);
    }

  .lead {
    font-size: 1.5rem;
  }
  .wrapper {
    height: 80vh;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}


@import 'Header-mobile'