@media screen and (max-width: 900px) {
  .intro {
    .intro-text {
      .centered-text {
        letter-spacing: 1rem;
        font-size: 1.5rem;
      }
      .small-text {
        font-size: 0.8rem;
      }
    }
  }
}
